<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Lista de Empresas</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>Lista de empresas:</h1>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa : ${empresas}">
                        <th th:text="${empresa.login}"></th>
                        <td th:text="${empresa.senha}"></td>
                        <td th:text="${empresa.email}"></td>
                        <td><a th:href="@{/empresas/{login}/edit(login = ${empresa.login})}">Alterar dados</a></td>
                        <td><a th:href="@{/empresas/{login}/delete(login = ${empresa.login})}">Excluir dados</a></td>
                        <td><a th:href="@{/empresas/{login}/new/vantagem(login = ${empresa.login})}">Cadastrar Vantagem</a></td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/empresas/new}">Criar nova empresa</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>