<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Lista de Alunos</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>Lista de alunos:</h1>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Login</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Quantidade de moedas</th>
                        <th scope="col">Email</th>
                        <th scope="col">RG</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Instituição</th>
                        <th scope="col">Curso</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluno : ${alunos}">
                        <th th:text="${aluno.login}"></th>
                        <td th:text="${aluno.senha}"></td>
                        <td th:text="${aluno.nome}"></td>
                        <td th:text="${aluno.cpf}"></td>
                        <td th:text="${aluno.moedas}"></td>
                        <td th:text="${aluno.email}"></td>
                        <td th:text="${aluno.rg}"></td>
                        <td th:text="${aluno.endereco}"></td>
                        <td th:text="${aluno.instituicao}"></td>
                        <td th:text="${aluno.curso}"></td>
                        <td><a th:href="@{/alunos/{login}/edit(login = ${aluno.login})}">Alterar dados</a></td>
                        <td><a th:href="@{/alunos/{login}/delete(login = ${aluno.login})}">Excluir dados</a></td>
                        <td><a th:href="@{/alunos/{login}/historico(login = ${aluno.login})}">Visualizar histórico</a></td>
                        <td><a th:href="@{/vantagens/{login}(login = ${aluno.login})}">Comprar Vantagens</a></td>
                        <td><a th:href="@{/alunos/{login}/vantagensCompradas(login = ${aluno.login})}">Lista de Vantagens Compradas</a></td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/alunos/new}">Criar nova aluno</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>